{% extends "base.html" %}
{% block extra_title %} | Return Policy{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
  <h2 class="mb-4 text-center">Return Policy</h2>
  <p><strong>Last updated May 11, 2025</strong></p>

  <p>Thank you for your purchase. We hope you are happy with your purchase. However, if you are not completely satisfied with your purchase for any reason, you may return it to us for a refund, store credit, or an exchange. Please see below for more information on our return policy.</p>

  <h5 class="mt-4">RETURNS</h5>
  <p>All returns must be postmarked within thirty (30) days of the purchase date. All returned items must be in new and unused condition, with all original tags and labels attached.</p>

  <h5 class="mt-4">RETURN PROCESS</h5>
  <p>To return an item, please email customer service at <a href="mailto:service@driftcult.art">service@driftcult.art</a> to obtain a Return Merchandise Authorization (RMA) number. After receiving an RMA number, place the item securely in its original packaging, and mail your return to the following address:</p>

  <address>
    Drift Cult<br>
    Attn: Returns<br>
    RMA #<br>
    Musterstraße 1<br>
    Musterhausen, Bavaria 12345<br>
    Germany
  </address>

  <p>Please note, you will be responsible for all return shipping charges. We strongly recommend that you use a trackable method to mail your return.</p>

  <h5 class="mt-4">REFUNDS</h5>
  <p>After receiving your return and inspecting the condition of your item, we will process your return or exchange. Please allow at least seven (7) days from the receipt of your item to process your return or exchange. Refunds may take 1–2 billing cycles to appear on your credit card statement, depending on your credit card company. We will notify you by email when your return has been processed.</p>

  <h5 class="mt-4">EXCEPTIONS</h5>
  <p>For defective or damaged products, please contact us at the contact details below to arrange a refund or exchange.</p>

  <h5 class="mt-4">QUESTIONS</h5>
  <p>If you have any questions concerning our return policy, please contact us at:<br>
  <a href="mailto:service@driftcult.art">service@driftcult.art</a></p>
</div>
{% endblock %}